.search-card {
  padding-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 2px #ccc;
}

.search-card h3,
.search-card h4 {
  padding: 0 1rem;
}

.search-card h3 {
  font-size: 1.5rem;
  color: #f2420c;
}

.search-card::first-letter {
  text-transform: uppercase;
}

.search-card h4 {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.search-card > div {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  border-radius: 0 0 0.5rem 0.5rem;
}

.search-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-status div {
  background-color: teal;
  height: 0.6rem;
  width: 0.6rem;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.search-status span::first-letter {
  text-transform: uppercase;
}
